/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/CoopMaster.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/Docker/mosquitoBroker/data/mosquitto.db
/Docker/mosquitoBroker/log/mosquitto.log
/Docker/homeAssistant/config/.storage/assist_pipeline.pipelines
/Docker/homeAssistant/config/.storage/auth
/Docker/homeAssistant/config/.storage/auth_provider.homeassistant
/Docker/homeAssistant/config/.storage/bluetooth.passive_update_processor
/Docker/homeAssistant/config/.storage/core.analytics
/Docker/homeAssistant/config/.storage/core.area_registry
/Docker/homeAssistant/config/.storage/core.config
/Docker/homeAssistant/config/.storage/core.config_entries
/Docker/homeAssistant/config/.storage/core.device_registry
/Docker/homeAssistant/config/.storage/core.entity_registry
/Docker/homeAssistant/config/.storage/core.restore_state
/Docker/homeAssistant/config/.storage/core.uuid
/Docker/homeAssistant/config/.storage/frontend.user_data_aea8899ce5d441e1be98dfe66904aacd
/Docker/homeAssistant/config/.storage/homeassistant.exposed_entities
/Docker/homeAssistant/config/.storage/http
/Docker/homeAssistant/config/.storage/http.auth
/Docker/homeAssistant/config/.storage/lovelace.map
/Docker/homeAssistant/config/.storage/lovelace_dashboards
/Docker/homeAssistant/config/.storage/map
/Docker/homeAssistant/config/.storage/onboarding
/Docker/homeAssistant/config/.storage/person
/Docker/homeAssistant/config/.storage/repairs.issue_registry
/Docker/homeAssistant/config/.storage/trace.saved_traces
/Docker/homeAssistant/config/blueprints/automation/homeassistant/motion_light.yaml
/Docker/homeAssistant/config/blueprints/automation/homeassistant/notify_leaving_zone.yaml
/Docker/homeAssistant/config/blueprints/script/homeassistant/confirmable_notification.yaml
/Docker/homeAssistant/config/.HA_VERSION
/Docker/homeAssistant/config/home-assistant.log
/Docker/homeAssistant/config/home-assistant.log.1
/Docker/homeAssistant/config/home-assistant.log.fault
/Docker/homeAssistant/config/home-assistant_v2.db
/Docker/homeAssistant/config/home-assistant_v2.db-shm
/Docker/homeAssistant/config/home-assistant_v2.db-wal
/Docker/homeAssistant/config/.storage/mobile_app
