/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/CoopMaster.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/docker/mosquito_broker/data/mosquitto.db
/docker/mosquito_broker/log/mosquitto.log
/docker/home_assistant/config/.storage/assist_pipeline.pipelines
/docker/home_assistant/config/.storage/auth
/docker/home_assistant/config/.storage/auth_provider.homeassistant
/docker/home_assistant/config/.storage/bluetooth.passive_update_processor
/docker/home_assistant/config/.storage/core.analytics
/docker/home_assistant/config/.storage/core.area_registry
/docker/home_assistant/config/.storage/core.config
/docker/home_assistant/config/.storage/core.config_entries
/docker/home_assistant/config/.storage/core.device_registry
/docker/home_assistant/config/.storage/core.entity_registry
/docker/home_assistant/config/.storage/core.restore_state
/docker/home_assistant/config/.storage/core.uuid
/docker/home_assistant/config/.storage/frontend.user_data_aea8899ce5d441e1be98dfe66904aacd
/docker/home_assistant/config/.storage/homeassistant.exposed_entities
/docker/home_assistant/config/.storage/http
/docker/home_assistant/config/.storage/http.auth
/docker/home_assistant/config/.storage/lovelace.map
/docker/home_assistant/config/.storage/lovelace_dashboards
/docker/home_assistant/config/.storage/map
/docker/home_assistant/config/.storage/onboarding
/docker/home_assistant/config/.storage/person
/docker/home_assistant/config/.storage/repairs.issue_registry
/docker/home_assistant/config/.storage/trace.saved_traces
/docker/home_assistant/config/blueprints/automation/homeassistant/motion_light.yaml
/docker/home_assistant/config/blueprints/automation/homeassistant/notify_leaving_zone.yaml
/docker/home_assistant/config/blueprints/script/homeassistant/confirmable_notification.yaml
/docker/home_assistant/config/.HA_VERSION
/docker/home_assistant/config/home-assistant.log
/docker/home_assistant/config/home-assistant.log.1
/docker/home_assistant/config/home-assistant.log.fault
/docker/home_assistant/config/home-assistant_v2.db
/docker/home_assistant/config/home-assistant_v2.db-shm
/docker/home_assistant/config/home-assistant_v2.db-wal
/docker/home_assistant/config/.storage/mobile_app
