/docker/
/.idea/
/out/document.aux
/out/document.lof
/out/document.log
/out/document.lolistedequation
/out/document.lot
/out/document.out
/out/document.pdf
/out/document.run.xml
/out/document.synctex.gz
/out/document.toc
/out/document-blx.bib
/out/main.log
/out/presentation.aux
/out/presentation.log
/out/presentation.nav
/out/presentation.out
/out/presentation.pdf
/out/presentation.snm
/out/presentation.synctex.gz
/out/presentation.toc
/out/text.log
/out/thesis.aux
/out/thesis.log
/out/thesis.out
/out/thesis.pdf
/out/thesis.synctex.gz
/out/thesis.toc
/modules/home_assistant/config/home-assistant_v2.db
/modules/home_assistant/config/home-assistant_v2.db-shm
/modules/home_assistant/config/home-assistant_v2.db-wal
