.main-container{
    width: 80vw;
    margin: 1vh auto auto;
}
img{
    max-height: 90vh;
}
.carousel{
    height: 90vh;
}

.carousel-item{
    margin: auto;
    height: 100%;
    width: 100%;
}
.carousel-inner{
    height: 100%;
    width: 100%;
}
.carousel-item-img{
    margin: auto;
}